.container { 
    background-color: #fff;
    color: #333;
    border-radius: 1rem;
    box-shadow: 4px 4px 16px -8px rgba(0, 0, 0, 0.25);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: fit-content;
    
}

.avatar {
    border-radius: 100%;
    box-shadow:  0 8px 16px -8px rgba(0, 0, 0, 0.5);
    margin: 2rem 0 1rem;
}





.link {
    display: flex;
    flex-direction:  column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}


.butttonFollow{
     background-color: rgb(66, 140, 209);
    background: linear-gradient(45deg, rgba(30, 112, 189) 10%, rgba(124,212,235) 100% );
    border: none;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.9s ease;
    bottom: 0;
    transition: 0.2s;
}

.butttonFollow:hover {
    background: linear-gradient(45deg, rgb(5, 34, 62) 10%, rgba(124,212,235) 100% );
    
}

