.button {
    background-color: #121212;
    border: 0;
    border-radius: 1rem;
    color: #fff;
    font-size: 1rem;
    margin-top: 2rem;
    padding: 0.75rem 1.25rem;
    transition: 0.3s;
}

.button:hover {
    background-color: #333;
    cursor: pointer;
    margin-left: 0.5rem;
}