<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Registro</title>
  </head>
  <body>
    <h1>Preencha o Formulário de Registro</h1>
    <form action="/registro" method="post">
      <label for="username">Nome de Usuário</label>
      <input type="text" id="username" name="username" />
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" />
      <button type="submit">Registrar</button>
    </form>
  </body>
</html>
