#root {
  max-width: 1280px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}


button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #21a1f1;
}

